RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

#<FilesMatch "\.(?i:pdf)$">
#  ForceType application/octet-stream
#  Header set Content-Disposition attachment
#</FilesMatch>

